{
  "env": {
    "node": true
  },
  "rules": {
    "block-scoped-var": 2,
    "brace-style": 2,
    "consistent-this": [2, "self"],
    "eol-last": 2,
    "max-len": [1, 80, 2],
    "max-nested-callbacks": [2, 4],
    "no-array-constructor": 2,
    "no-else-return": 2,
    "no-eq-null": 2,
    "no-floating-decimal": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-process-exit": 0,
    "no-self-compare": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-undefined": 2,
    "no-underscore-dangle": false,
    "no-warning-comments": [2, {"terms": ["@bug"]}],
    "quotes": [2, "double", "avoid-escape"],
    "radix": 2,
    "space-after-keywords": 2,
    "space-in-brackets": [2, "never"],
    "space-in-parens": [2, "never"],
    "space-unary-ops": 2,
    "strict": false,
    "strict": true,
    "valid-jsdoc": 2,
    "new-cap": 0
  }
}
